<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="ApiKey" value="" />
    <add key="ApiCallThreshold" value="100" />
    <add key="EndpointUrl" value="https://geo.ipify.org" />
    <add key="ApiUrl" value="https://geo.ipify.org/api/v2/country,city?" />
    <add key="ApiUrlBalance" value="https://geo.ipify.org/service/account-balance?apiKey={apiKey}" />
    <add key="FullLoggingEnabled" value="true" />
    <add key="UseBasePath" value="true" />
    <add key="BasePath" value="C:\GeolocationApp" />
    <add key="SpecificPath" value="Data" />
  </appSettings>
</configuration>